body {
    background-color: #130c53;
    text-align: center;
    font-family: gafata, sans-serif;

}

h1 {
    background-color: #9ceab5;
    font-size: 50px;
    border-radius: 10px;
    width: 60vw;
    margin: 20px auto;
    padding: 20px 0;
}

h2 {
    display: block;
    font-size: 30px;
    width: 60vw;
    margin: 20px auto;

}

h3 {
    display: block;
    font-size: 20px;
    width: 60vw;
    margin: 20px auto;

}

.card {
    background-color: #9ceab5;
    ;
    border-radius: 20px;
    width: 60vw;
    margin: 0 auto;
}

.card-image {
    height: 200px;
    margin: 0 auto;
    display: block;
}