body {
    background-color: #130c53;
    text-align: center;
    font-family: gafata, sans-serif;

}

.blog {
    background-color: #9ceab5;
    width: 80vw;
    margin: 50px auto;
    padding: 20px 0;
    border-radius: 10px;
}

h1 {
    display: block;
    width: 75vw;
    margin: 20px auto;
    font-size: 50px;

}

h2 {
    display: block;
    width: 60vw;
    margin: 20px auto;
    font-size: 30px;

}


h3 {
    display: block;
    width: 60vw;
    margin: 20px auto;
    font-size: 20px;
}

.card {
    background-color: #9ceab5;
    width: 60vw;
    margin: 0 auto;
    border-radius: 20px;
}

.card-image {
    display: block;
    margin: 0 auto;
    height: 200px;
}

.logo {
    position: absolute;
    top: 50px;
    right: 150px;
    width: 100px;
}